.chat-text-container {
  min-width: 5%;
  max-width: 30%;
  border-radius: 2.4rem;
  padding: 1.5rem 2.4rem;
  margin: 1rem;
  font-size: 16px;
}

.bot-response-text {
  background-color: #f2f2f6;
  color: #080808;
  flex-flow: column;
}

.user-response-text {
  background-color: #377cf6;
  color: #fff;
  flex-direction: column-reverse;
}
