.chat-input-container {
  display: flex;
  justify-content: center;
  margin-left: 0.8rem;
}

.chat-input-form {
  display: flex;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  width: 56%;
}

.chat-input-field {
  width: 87%;
  margin-left: 1rem;
  height: 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  border: none;
  padding-left: 1rem;
}

.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5.4%;
  height: 3rem;
  background-color: #377cf6;
  border: none;
  color: #fff;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  font-size: 22px;
}
