.header {
  display: flex;
  background-color: #fff;
  color: #212f3d;
  height: 2rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px;
  padding: 0.8rem;
}

.logo {
  color: #f7dc6f;
  font-size: 35px;
}

@media screen and (max-width: 900px) {
  .header {
    height: 1.5rem;
    padding: 0.6rem;
  }

  .brand {
    font-size: 22px;
  }

  .logo {
    font-size: 22px;
  }
}

@media screen and (max-width: 700px) {
  .header {
    height: 1.3rem;
    padding: 0.8rem;
  }

  .brand {
    font-size: 20px;
  }

  .logo {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .header {
    height: 1.3rem;
    padding: 0.8rem;
  }

  .brand {
    font-size: 20px;
  }

  .logo {
    font-size: 20px;
  }
}
